.about-us{
    background: #2C343E;
    border-radius: 10px;
    width: 1200px;
    height: 577px;
    margin-top: 200px;
}
.about-us h2{
    font-weight: 900;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #FEFCF7;
padding-top: 120px;
}
.about-us p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FEFCF7;
width: 540px;
height: 80px;
margin-top: 32px;
}
.boxes-coffee{
    display: flex;
}
.box_coffee{
    background: #0E8784;
    width: 350px;
    height: 300px;
    border-radius: 8px;
    left: 165px;
    top: 1920px;
    text-align: center;
}
.box_coffee img{
    margin-top: 72px;
}
.box_coffee h3{
    font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #FEFCF7;
margin-top: 36px;
}
.box_coffee p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
width: 255px;
height: 78px;
}
